body {
    background: purple;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    color: purple;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
